* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(./assets/subtle-prism.svg);
    background-size: cover;
    background-position: center center;
}

.image-logo {
    max-width: 70px;
    margin: 8px 8px;

}

.menu {
    position: absolute;
    background-color: rgb(148, 186, 230);
    position: static;
    align-items: center;
    font-size: 24px;
    display: flex;
    justify-content: space-between;

}

div {
    height: 106px;
}

a {
    margin-right: 30px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(91, 94, 94);
    text-decoration: none;
}

.button-nav {
    width: 100px;
    margin: 15px 20px;
    background-color: rgb(91, 94, 94);
    font-weight: 600;
    font-size: 20px;
    color: rgb(247, 235, 220);
    border-radius: 20px;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.button-nav:hover {
    opacity: 0.9;
}

.button-nav:active {
    opacity: 0.7;
}

main {
    margin-bottom: 100px;
    margin-left: 70px;
    display: flex;
    align-items: center;
}

h1 {
    font-weight: 900;
    font-size: 80px;
    line-height: 100px;
}

.image-main {
    width: 468px;
    height: 400px;
    margin-top: 30px;
    margin-right: 60px;
}


.section-right {

    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    color: rgb(91, 94, 94);
    letter-spacing: 2px;
}

.button-explore {
    width: 100px;
    height: 35px;
    background-color: rgb(91, 94, 94);
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    color: rgb(247, 235, 220);
    cursor: pointer;
}

.button-explore:hover {
    opacity: 0.9;
}

.button-explore:active {
    opacity: 0.7;
}


@media screen and (max-width: 760px) {

    main {
        width: auto;
        margin: 0;
        padding: 0;
        display: block;
        height: 70%;
        position: static;
        height: auto;
    }
    div{
        height: 0;
    }

    .image-main {
        margin-top: 20px;
        margin-left: 40px;
        max-width: 300px;
        height: 293px;
        padding: 10px;
        align-items: center;
    }

    .section-right {
        max-width: 300px;
        align-items: center;
        position: static;
        margin-left: 50px;
        text-align: center;
      

    }

    .menu {
        display: none;
    }

    h1 {
        top: 0;
        font-size: 50px;
        font-weight: 900;
        width: auto;
    }



}